@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 100vw;
}

.panel {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    /* margin: 10px; */
    position: relative;
    transition: flex 0.5s ease-in;
    background-color: #fff;
    border-left: 01px #000 dashed;
    padding: 40px 57px;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
}

.panel #panel-next {
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 99;
    left: 0;
    width:100%;
}

.panel #panel-next img {
    border: 01px transparent solid;
    border-radius: 100%;
    padding: 5px;
    width: 36px;
    height: 36px;
    background-color: #f97991;
}

/* Panel Five BG */
.panel #person-bg {
    width: 356px;
    height: 484px;
    float: left;
    position: absolute;
    bottom: 108px;
    left: -43px;
    /* display: none; */
    opacity: 0;
}
.panel #person-bg img {
    width: 100%;
}
/* Panel Four BG */

#fourPanel #person-bg {
    width: 1175px;
    height: 575px;
    float: left;
    position: absolute;
    bottom: 1px;
    left: -76px;
    opacity: 0;
}
/* Panel Three BG */

#threePanel #person-bg {
    width: 555px;
    height: 654px;
    float: left;
    position: absolute;
    bottom: 1px;
    left: -50px;
    opacity: 0;
}

/* Panel Two BG */
#twoPanel #person-bg {
    width: 407px;
    height: 428px;
    float: left;
    position: absolute;
    bottom: 1px;
    left: 25px;
    opacity: 0;
}

/* Panel active BG */
.panel.active #person-bg,
#fourPanel.active #person-bg,
#threePanel.active #person-bg,
#twoPanel.active #person-bg {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* Content Styling */
#panel-top-part {
    width: 100%;
    display: none;
}
#panel-top-part #secOne {
    text-align: right;
}
#panel-top-part #secOne span {
    font-size: 20px;

    line-height: 36px;
}
#panel-top-part #secTitle {
    height: 90px;
    color: #ffffff;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 90px;
    text-align: right;
}
#panel-top-part #secDesc {
    height: 108px;
    width: 665px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: right;
    float: right;
}
#panel-top-part #secBtn {
    display: block;
    clear: both;
    width: 100%;
    float: right;
    text-align: right;
    margin-top: 40px;
}
#panel-top-part #secBtn a {
    height: 24px;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
    margin-left: 32px;
}
#panel-top-part #secBtn button {
    color: #3a68f5;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    height: 64px;
    width: 269px;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: -8px 8px 16px 0 rgba(15, 48, 89, 0.2);
    border: none;
}
#twoPanel #panel-top-part #secTitle {
    height: 180px;
}
/* Panel Bottom Parts */
#panel-bottom-part {
    display: none;
    transition: all 0.3s ease-in 0.4s;
    width: 100%;
    float: right;
    text-align: right;
    margin-top: 195px;
}

#panel-bottom-part #bottomClOne {
    width: 25%;
    float: right;
}

#panel-bottom-part #bottomClOne #btt {
    height: 24px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
}

#panel-bottom-part #bottomClOne #btitle {
    height: 36px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 36px;
    text-align: right;
}
#panel-bottom-part #bottomClOne #btext {
    height: 48px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
}
#panel-bottom-part #bottomClOne #bnumber {
    height: 36px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 36px;
    text-align: right;
}


div#bnumber ul {
    list-style: none;
    width: 100%;
    float: right;
    text-align: right;
    padding: 0;
    margin: 0;
}

div#bnumber ul li {
    display: inline-block;
}

div#bnumber ul li img {
    height: 37.74px;
    width: 110.54px;
}


.panel.active {
    flex: 3.1;
    background-color: #3a68f5;
    border: none;
}

.panel.active #panel-top-part,
.panel.active #panel-bottom-part {
    display: block;
    transition: all 0.3s ease-in 0.4s;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active #panel-next {
    display: none;
}

@media (max-width: 480px) {
    .container {
        width: 100vh;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
